<div *ngIf="hero != null">
    <h2>{{hero.name}}</h2>
    <div>
        <label>id: </label>{{hero.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="hero.name" placeholder="name">
    </div>
    <nav>
        <button (click)="save()">Save</button>
        <button (click)="goBack()">Back</button>
    </nav>
</div>